@font-face {
    font-family: BastardoRegular;
    src: url('../fonts/BastardoGroteskRegular.woff') 

  }
  @font-face {
    font-family: BastardoBold;
    src: url('../fonts/BastardoGroteskBold.woff'),

  }
  @font-face {
    font-family: BastardoThin;
    src: url('../fonts/BastardoGroteskThin.woff'),

  }

  @font-face {
    font-family: Script;
    src: url('../fonts/MonsieurLaDoulaise-Regular.ttf') format('truetype');
  }
  

