@font-face {
    font-family: Bastardo-Regular;
    src: url('../fonts/BastardoGroteskRegular.woff') format('woff'),

  }
  @font-face {
    font-family: Bastardo-Bold;
    src: url('../fonts/BastardoGroteskBold.woff') format('woff'),

  }
  @font-face {
    font-family: Bastardo-Thin;
    src: url('../fonts/BastardoGroteskThin.woff') format('woff'),

  }

