



.imprint-container {
    bottom: 1rem;
    right: 0;
    Position: fixed;
    display: inline-flex;
    justify-content: space-between;
    /* aligns items with equal space between them */
    align-items: center;
    z-index: 10;

    width: auto;



}

.imprint-item {
    flex: 2;
    margin: 0 1rem;
    text-align: center;
    border-radius: 1em;
    background: rgba(234, 234, 234, 0.908);
    padding: .2em 1.4em;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    font-size: 1rem;
    font-family: BastardoRegular;



}

.imprint-item:hover {
    color: white;

}