
.lineup-grid{
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

@media (max-width: 950px){
    .lineup-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 951px) and (max-width: 1200px){
    .lineup-grid {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1201px) and (max-width: 1800px){
    .lineup-grid {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 1801px) {
    .lineup-grid{
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}