


body {
    background: rgb(218, 218, 218);
}

.page-grid {
    margin: 0 1rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2rem;
    overflow: auto;

    font-family: BastardoRegular;

}

.grid-child {
    margin: 3.5rem 0;

}

.fixed-grid {
    position: fixed;

}

.grid-1-column {
    grid-column: span 1;

}

.grid-2-column {
    grid-column: span 2;

}

.grid-3-column {
    grid-column: span 3;

}

.grid-4-column {
    grid-column: span 4;

}

.grid-5-column {
    grid-column: span 5;

}

.grid-column-start-1 {
    grid-column-start: 1;
}

.grid-column-start-2 {
    grid-column-start: 2;
}

.grid-column-start-3 {
    grid-column-start: 3;
}

.grid-column-start-4 {
    grid-column-start: 4;
}

.grid-column-start-5 {
    grid-column-start: 5;
}

.scrollable-element {
    overflow-y: auto;
    height: 100svh;
    position: relative;
}

.added-padding {
    height: 7.5rem;

}

/* Font Hierachie */

.font-regular {

    font-family: BastardoRegular;


}

.font-bold {
    font-family: BastardoBold;

}

.font-sz-large {
    font-size: 3rem;

}

.font-sz-medium {

    font-size: 2rem;
}

.font-sz-small {

    font-size: 1rem;

}

/* custom scrollbar */

/* Set the width of the scrollbar in the element */
.scrollable-element::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Set the background color of the scrollbar track */
  .scrollable-element::-webkit-scrollbar-track {
    
    transition: background-color 0.2s ease-out;
}
  
  /* Set the color of the scrollbar thumb */
  .scrollable-element::-webkit-scrollbar-thumb {
    background-color: rgba(158, 158, 158, 0);
    transition: background-color 0.2s ease-out;

  }
  
  /* Set the opacity of the scrollbar thumb when hovering over the element */
  .scrollable-element:hover::-webkit-scrollbar-thumb {
    background-color: rgba(146, 146, 146, 0.544);
    transition: background-color 0.2s ease-out;

  }
  

  
/* Mobile Queries */


@media only screen and (max-width: 700px) {

    .page-grid {
        margin: 0 1rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 3.5rem 1rem;
        display: grid;
    }

    .grid-1-column-mobile {
        grid-column: span 1;
        overflow: visible;

    }

    .grid-column-start-1-mobile {
        grid-column-start: 1
    }

    .fixed-grid {
        position: static;

    }

    .scrollable-element {
       overflow-y: visible;
        height: auto;
        overflow-x: hidden;

        /* position: relative; */
    }

    .added-padding {
        display: none;
    }
    .grid-child {
        margin: 1rem 0;
    
    }

    .grid-row-start-mobile-1{
        grid-row-start: 1;
    }
    .grid-row-start-mobile-2{
        grid-row-start: 2;
    }

}