


@media (max-width: 500px){
    .termine-artist-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 501px) and (max-width: 650px){
    .termine-artist-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 651px) and (max-width: 767px){
    .termine-artist-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 768px) and (max-width: 950px){
    .termine-artist-grid {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}

@media (min-width: 951px) and (max-width: 1200px){
    .termine-artist-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 1201px) and (max-width: 1800px){
    .termine-artist-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 1801px) {
    .termine-artist-grid{
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}